body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-image: url('../img/banner2.png');
  background-size: cover;
  color: #333;
  padding-bottom: 100px;
}

header {
  padding: 10px 0px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0px 15px;
}

nav ul a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

section {
  background-color: #fff;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 5px;
}

button {
  background-color: #1f1441;
  color: #ffffff;
  border: 0px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #452e86;
}

.list-projetos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.projeto {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.projeto img {
  width: 100%;
  border-radius: 5px;
}

#formContato {
  display: grid;
  gap: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.5;
  color: #495057;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

footer {
  background-color: #1f1441;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
